#top{
    display: block;
    background-color: purple;
    height: 50px;
    width:auto;
}
#Left_box{
    display:block;
    background-color: aquamarine;
    height: 420px;
    width: 25%;
    margin-top: 10px;
    align-self: center;
    position: relative;
    float: left;
}
.Price_range{
    position: relative;
    display: inline-block;
    height: 4rem;
    width: 180px;
}
.sort{
    position: relative;
    display: inline-block;
    height: max-content;
    width: 180px;
    margin-top: 10px;
}
.Items{
    position: relative;
    display: inline-block;
    height: 4rem;
    width: 180px;
    margin-top: 10px;
}
#Right_box{
    display: grid;
    position:relative;
    margin-top: 10px;
    height:480px;
    margin-left:30%;
}
.phone{
    position: relative;
    display: inline-block;
    height: 145px;
    width: 150px;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .search-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }